section.bag {
    padding: 20px;
}

section.bag h1 {
    margin: 0px;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
}

.topcard {
    display: flex;
    grid-gap: 100px;
    align-items: center;
    margin-bottom: 30px;
    align-items: center;    
}

.topcard h5 {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    align-items: center;
}

.topcard h1 {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}

section.bag .main {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* grid-gap: 20px; */
}
section.bag .main .chart{
    display: flex;
    align-items: center;    
    grid-gap: 15px;
}
section.bag .main .chart .caliculate{
    display: flex;
    grid-gap: 20px;
    border: 1px solid #FFC85E;
    padding: 10px;  
    border-radius: 5px;
}
section.bag .main .chart .caliculate h6{
    font-size: 20px;
}
section.bag .main h2 {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 35px;
    font-weight: 600;   
}
section.bag .main p.text {
    width: 500px;   
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 25px;
}
.father {
    width: 100% !important;
}
section.bag .main button{
    padding: 15px;
    border: none;
    background-color: #FFC85E;
    color: white;
    border-radius: 10px;
}